.mobile-slider-card{
    height: 290px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    filter: drop-shadow(0px 1px 3.5px rgba(101, 101, 101, 0.26));
    background-color: white;
    scroll-snap-align: start;
    min-width: 270px;
    max-height:290px;

    .card-top-col{
        height: 200px;
        width: 100%;
        // background-image: url("../../assets/images/cardImage.jpg");
      color: #ff2f60;
      display: flex;
      justify-content: space-between;
    
        background-size: cover;
    border-radius: 10px;
    filter: drop-shadow(0px 1px 3.5px rgba(101, 101, 101, 0.26));
.bike{
    padding: 5px 7px;
    background: white;
    height: fit-content;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    // margin: 0;
    font-size: 10px;
    left: 10px;
    text-transform: uppercase;
    // text-align: center;
    p{
        margin: 0;
        padding: 0;
    }
}
.rate{
    width: 10px;
    height: 10px;
    padding: 5px 7px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: white;
    height: fit-content;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    font-size: 10px;
    right: 10px;
    text-transform: uppercase;
    // text-align: center;
}

    }
    .card-bottom-col{
        height:calc(30% - 20px);
        width:calc(100% - 20px);
    background-color: white;
    padding: 10px;
    .bottom-name-col{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .star-col{
            display: flex;
            align-items: center;
        }
        .active-star{
            svg{
                color: #ff5b1b;
                font-size: 12px;
            }
        }
        .star{
            svg{
                font-size: 12px;
                color: #989090;
            }
        }
    }
    h5{
        color: #494949;
        margin: 0%;
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    span{
        color: #494949;
        margin: 0%;
        font-size: 10px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p{
        margin: 0%;
        color: red;
        
    }
    .price-col{
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 100%;
        p{
            margin: 0%;
            margin-top: 10px;
            padding: 0%;
            span{
// line-height: 32px;
color: #7d7d7d;
font-weight: bold;
            }
        }
        button{
height: 30px;
border-radius: 6px;
background-color: #ff2f60;
            font-size: 12px;
            border: none;
            outline: none;
text-transform: uppercase;
color: #ffffff;
font-weight: bold;
text-align: center;
        }
    }
    }
}