// *{
//     color: #000000;
// }
// .about-main{
//     width: calc(100% - 50px);
//     border-radius: 16px;
//     filter: drop-shadow(0px 6px 24.5px rgba(22, 19, 22, 0.09));
//     background-color: #ffffff;
//     border: 0px solid #000000;
//     padding: 20px;
//     margin: 0 auto;
//     height: 70vh;
//     overflow-y: scroll;

    h2{
        font-size: 22px;
        letter-spacing: 0px;
        line-height: 32px;
        color: #4a4a4a;
        margin: 0%;
    }
    h5{
        font-size: 20px;
        color: black;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    p{
        font-size: 13px;
        letter-spacing: 0px;
        line-height: 20px;
        font-family: sans-serif;
        color: #4a4a4a;
        padding-bottom: 10px;
        h5{
            font-size: 20px;
            color: black;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
// }
.bullets{
   li {
    font-size: 12px;
position: relative;
color: #4a4a4a;
font-family: sans-serif;
list-style: none;
&::before {
    content: "•";
    left: -20px;
    position: absolute;
}
   }
}
.contact-page-enquiry-form{
    width: 100% !important;
    .form-center-col{
        filter: none !important;
        border: 1px solid rgb(178, 178, 178);
        border-radius: 12px;
        p{
            text-align: left;
            margin-top: 5px;
        }
    }
}