@import "../../styles/variables/colors";
.gallery-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.min-card {
  width: 100%;
  height: 200px;
  background-color: $red;
  border-radius: 10px;
  background-image: url("../../assets/images/cardImage.jpg");
  background-size: cover;
}
