@import "../styles/variables/colors";
@import "../styles/variables/mixins";

.layout-center-col {
    width: 90%;
    margin: auto;
    max-width: 1207px;
    @include media(phone){
      width: 95%;
    }
}
.mobile-layout-center-col{
    width: 100%;
    // max-width: 1207px;
}
