@import "../styles/variables/colors";
@import "../styles/variables/mixins";

.layout-center-col {
    width: 90%;
    margin: auto;
    max-width: 1180px;
    @include media(phone){
      width: 95%;
    }
    @include media(largeHug){
max-width: 1080px;
    }
}
.mobile-layout-center-col{
    width: 100%;
    // margin-bottom: 64px;
    

    // max-width: 1207px;
}
